body {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 650px;
  display: flex;
  flex-flow: row wrap;
}
.container__square {
  width: 200px;
  height: 200px;
  background-color: rgb(6, 238, 255);
  border: 1px solid;
  opacity: 1;
}
.container__square:hover {
  opacity: 0.5;
}

.rows {
  display: flex;
}